::root {
	--autosearch-primary-color: #e9233f;
}
$primary: var(--autosearch-primary-color);

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

._AutoSearch {
	position: relative;
	width: 100%;

	._Input_Wrap {
		position: relative;
		z-index: 10;
		@include flex;
		width: 100%;

		._Input,
		._Results {
			width: 100%;
			font-size: 14px;
			text-indent: 15px;

			transition: 0.2s;

			border-radius: 10px;
			border: 2px solid rgb(200, 200, 200);
			border-top: 1px solid rgb(200, 200, 200);
			border-right: 1px solid rgb(200, 200, 200);
		}

		._Input {
			position: relative;
			cursor: text;
			max-height: 10px;
			padding: 12px 0;
			outline: none;
			&:hover {
				background-color: rgb(245, 245, 245);
			}
		}

		._Input_Active {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		._Input_Icon {
			position: absolute;
			left: 12px;
			width: 15px;
			opacity: 0.5;
		}
		._Show_Icon {
			text-indent: 35px;
		}

		._Results {
			z-index: 20;
			overflow: hidden;
			position: absolute;
			top: 35px;
			padding-top: 5px;
			box-sizing: border-box;
			margin: 0;

			border-top-right-radius: 0;
			border-top-left-radius: 0;

			background-color: rgb(255, 255, 255);
			._Result {
				cursor: pointer;
				text-align: left;
				@include flex;
				justify-content: flex-start;
				min-height: 25px;
				padding: 2px 0;

				/*
				To enable the following hover effect, complete the list:
				- onNavigate
						disables mouse hover
						updates resultList className '_Result_Active'

				&:hover {
					color: white;
					background-color: $primary;
				}
			*/
			}

			._Result_Active {
				color: white;
				background-color: $primary;
			}
		}
	}
}
